
.card {
    background-color: var(--white);
    padding: 0;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.imageUser {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.card h3 , .card p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--black);
    text-align: left;
    text-decoration: none;
}

.card:hover {
    background-color: var(--white);
    opacity: 0.8;
}

.card a {
    text-decoration: none;
    color: var(--black);
}

.cardContent {
    text-decoration: none;
    padding: 0.5rem;
}