.nav {
    display: flex;
    background-color: rgb(187, 187, 187);
    color: white;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.links li {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.links li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}