.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1rem));
    grid-gap: 20px;
    justify-items: start;
    overflow: scroll;
}

.grid_blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 100%));
    grid-gap: 20px;
}