.div {
    display: flex;
    border: 1px solid #ccc;
    /* justify-content: center; */
}

.button {
    background-color: rgb(187, 187, 187);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem; 
}